table{
    border: 1px solid grey;
    border-collapse: collapse;
}

th{
    background-color: #d0d0d0;
    font-weight: bold;
}

th, td{
    border: 1px solid gray;
    padding: 5px;
}


